USE [master]
GO
/****** Object:  Database [WebMayTinh]    Script Date: 19/01/2022 19:45:26 PM ******/
CREATE DATABASE [WebMayTinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebMayTinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WebMayTinh.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebMayTinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WebMayTinh_log.ldf' , SIZE = 1600KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebMayTinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebMayTinh]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 19/01/2022 19:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[link] [nvarchar](max) NULL,
	[meta] [nvarchar](50) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[datebegin] [smalldatetime] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 19/01/2022 19:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[Descriptions] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Introduce]    Script Date: 19/01/2022 19:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Introduce](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[order] [int] NULL,
	[meta] [nvarchar](50) NULL,
	[datebegin] [smalldatetime] NULL,
 CONSTRAINT [PK_GioiThieu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 19/01/2022 19:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[link] [nvarchar](max) NULL,
	[meta] [nvarchar](50) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[datebegin] [smalldatetime] NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 19/01/2022 19:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[img] [nvarchar](30) NULL,
	[description] [nvarchar](max) NULL,
	[detail] [ntext] NULL,
	[meta] [nvarchar](max) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[datebegin] [smalldatetime] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 19/01/2022 19:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[User_id] [nvarchar](100) NULL,
	[CustomerName] [nvarchar](100) NULL,
	[CustomerPhone] [nchar](20) NULL,
	[CustomerAddress] [nvarchar](200) NULL,
	[CustomerEmail] [nvarchar](100) NULL,
	[Descriptions] [nvarchar](100) NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 19/01/2022 19:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Product_id] [int] NOT NULL,
	[Order_id] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Amount] [float] NULL,
 CONSTRAINT [PK_ChiTietGioHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 19/01/2022 19:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[price] [float] NULL,
	[newprice] [float] NULL,
	[img] [nvarchar](100) NULL,
	[description] [ntext] NULL,
	[meta] [nvarchar](max) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[datebegin] [smalldatetime] NULL,
	[categoryid] [int] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 19/01/2022 19:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [ntext] NULL,
	[Rating] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[User_id] [int] NULL,
	[Product_id] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19/01/2022 19:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [varchar](20) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 19/01/2022 19:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[img] [nvarchar](50) NULL,
	[meta] [nvarchar](max) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[datebegin] [smalldatetime] NULL,
 CONSTRAINT [PK_HinhChieu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 19/01/2022 19:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[status] [bit] NULL,
	[Quyenadmin] [nvarchar](10) NULL,
	[Quyenuser] [nvarchar](10) NULL,
	[roleId] [int] NULL,
	[GroupID] [varchar](20) NULL,
	[buyLastDate] [datetime] NULL,
	[countOrder] [int] NULL,
	[amountSpent] [float] NULL,
 CONSTRAINT [PK_DangNhap_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name], [link], [meta], [hide], [order], [datebegin]) VALUES (1, N'Apple IPhone', N'ip.png', N'apple-iphone-', 1, 1, CAST(N'2021-09-25T20:01:00' AS SmallDateTime))
INSERT [dbo].[Category] ([id], [name], [link], [meta], [hide], [order], [datebegin]) VALUES (2, N'Sam Sung', N'sam.png', N'sam-sung-', 1, 2, CAST(N'2021-09-25T20:01:00' AS SmallDateTime))
INSERT [dbo].[Category] ([id], [name], [link], [meta], [hide], [order], [datebegin]) VALUES (3, N'Oppo', N'oppo.png', N'oppo-', 1, 3, CAST(N'2021-09-25T20:01:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([id], [Fullname], [Email], [Descriptions], [CreatedDate]) VALUES (27, N'Hoàng Nhi', N'Nhi@gmail.com', N'Tôi muốn hỏi chổ mình cần tuyển nhân viên ko ?', CAST(N'2021-09-28T00:00:00.000' AS DateTime))
INSERT [dbo].[Contact] ([id], [Fullname], [Email], [Descriptions], [CreatedDate]) VALUES (28, N'Tiên Viên ', N'Vien@gmail.com', N'khi nào thì bên mình có máy tính Dell I8 ?', CAST(N'2021-09-28T00:00:00.000' AS DateTime))
INSERT [dbo].[Contact] ([id], [Fullname], [Email], [Descriptions], [CreatedDate]) VALUES (29, N'Hưng Đỗ Công', N'hungdocong82@gmail.com', N'Quy trình đổi trả hàng của cửa hàng mình như thế nào ạ?', CAST(N'2021-09-28T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Introduce] ON 

INSERT [dbo].[Introduce] ([id], [NoiDung], [order], [meta], [datebegin]) VALUES (2, N'          Shop của chúng tôi luôn đáp ứng được mọi yêu cầu của khách hàng. và luôn nhiệt tình ', 2, N'gioi-thieu', CAST(N'2021-09-14T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Introduce] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([id], [name], [link], [meta], [hide], [order], [datebegin]) VALUES (1, N'Giới Thiệu', NULL, N'gioi-thieu', 1, 3, CAST(N'2021-10-09T00:00:00' AS SmallDateTime))
INSERT [dbo].[Menu] ([id], [name], [link], [meta], [hide], [order], [datebegin]) VALUES (2, N'Cửa Hàng', NULL, N'cua-hang', 0, 1, CAST(N'2021-10-09T00:00:00' AS SmallDateTime))
INSERT [dbo].[Menu] ([id], [name], [link], [meta], [hide], [order], [datebegin]) VALUES (3, N'Giỏ Hàng', NULL, N'gio-hang', 0, 2, CAST(N'2021-10-09T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [CreatedDate], [User_id], [CustomerName], [CustomerPhone], [CustomerAddress], [CustomerEmail], [Descriptions], [status]) VALUES (18, CAST(N'2021-11-20T17:17:54.990' AS DateTime), N'khachhang1', N'Elo', N'1231231231          ', N'hcm', N'khachhang1@gmail.com', N'a', 1)
INSERT [dbo].[Order] ([id], [CreatedDate], [User_id], [CustomerName], [CustomerPhone], [CustomerAddress], [CustomerEmail], [Descriptions], [status]) VALUES (19, CAST(N'2021-11-20T17:17:54.990' AS DateTime), N'khachhang', N'nguyen van a', N'121312              ', N'điện biên phủ', N'khachhang@gmail.com', N'', 1)
INSERT [dbo].[Order] ([id], [CreatedDate], [User_id], [CustomerName], [CustomerPhone], [CustomerAddress], [CustomerEmail], [Descriptions], [status]) VALUES (20, CAST(N'2021-11-20T17:17:54.990' AS DateTime), N'khachhang', N'nguyen van a', N'121312              ', N'điện biên phủ', N'khachhang@gmail.com', N'', 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Detail] ON 

INSERT [dbo].[Order_Detail] ([id], [Product_id], [Order_id], [Quantity], [Amount]) VALUES (1, 2, 23, 1, 18000000)
INSERT [dbo].[Order_Detail] ([id], [Product_id], [Order_id], [Quantity], [Amount]) VALUES (2, 2, 24, 1, 18000000)
INSERT [dbo].[Order_Detail] ([id], [Product_id], [Order_id], [Quantity], [Amount]) VALUES (3, 11, 23, 1, 35000000)
SET IDENTITY_INSERT [dbo].[Order_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [price], [newprice], [img], [description], [meta], [hide], [order], [datebegin], [categoryid], [quantity]) VALUES (9, N'Iphone XS Max 256GB', 20000000, 18000000, N'iphone-xs-max-256gb-white-600x600.jpg', N'Sau 1 năm mong chờ, chiếc smartphone cao cấp nhất của Apple đã chính thức ra mắt mang tên iPhone Xs Max. Máy các trang bị các tính năng cao cấp nhất từ chip A12 Bionic, dàn loa đa chiều cho tới camera kép tích hợp trí tuệ nhân tạo..', N'iphone-xs-max-256', 1, 4, CAST(N'2021-11-13T00:00:00' AS SmallDateTime), 1, 50)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([id], [Content], [Rating], [CreatedDate], [User_id], [Product_id], [Status]) VALUES (1, N'sản phẩm chất lượng', 10, CAST(N'2021-10-24T21:21:23.610' AS DateTime), 24, 19, 1)
INSERT [dbo].[Review] ([id], [Content], [Rating], [CreatedDate], [User_id], [Product_id], [Status]) VALUES (2, N'', NULL, CAST(N'2022-01-08T21:41:24.187' AS DateTime), 26, 2, 1)
INSERT [dbo].[Review] ([id], [Content], [Rating], [CreatedDate], [User_id], [Product_id], [Status]) VALUES (3, N'', 6, CAST(N'2022-01-08T21:41:33.057' AS DateTime), 26, 2, 1)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
INSERT [dbo].[Role] ([ID], [Name]) VALUES (N'ADD', N'Thêm mới')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (N'DELETE', N'Xóa')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (N'EDIT', N'Sửa')
GO
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([id], [img], [meta], [hide], [order], [datebegin]) VALUES (1, N'11_04_2019_15_28_26_Oppo-f11-800-300.png', N'mô-Tả', 1, 5, CAST(N'2021-10-19T00:00:00' AS SmallDateTime))
INSERT [dbo].[Slide] ([id], [img], [meta], [hide], [order], [datebegin]) VALUES (2, N'12_04_2019_22_08_25_huawei-P30-800-300.png', N'mô-tả', 1, 4, CAST(N'2021-10-19T00:00:00' AS SmallDateTime))
INSERT [dbo].[Slide] ([id], [img], [meta], [hide], [order], [datebegin]) VALUES (4, N'31_03_2019_23_53_00_800-300.png', N'mô-tả', 1, 3, CAST(N'2021-10-19T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Slide] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [username], [password], [name], [address], [email], [phone], [status], [Quyenadmin], [Quyenuser], [roleId], [GroupID], [buyLastDate], [countOrder], [amountSpent]) VALUES (13, N'nganvisao', N'nganvisao', N'Ngôi sao nhỏ', N'TP.HCM', N'ngoisao@gmail.com', N'01255555', 1, N'Admin', NULL, 1, N'MEMBER', NULL, 0, 0)
INSERT [dbo].[User] ([id], [username], [password], [name], [address], [email], [phone], [status], [Quyenadmin], [Quyenuser], [roleId], [GroupID], [buyLastDate], [countOrder], [amountSpent]) VALUES (14, N'vinh', N'123123', N'Quang Vinh', N'Q.Thu đức', N'QVinh@gmail.com', N'012358544', 0, NULL, N'User', 2, N'MEMBER', CAST(N'2021-11-20T17:17:54.990' AS DateTime), 4, 137000000)
INSERT [dbo].[User] ([id], [username], [password], [name], [address], [email], [phone], [status], [Quyenadmin], [Quyenuser], [roleId], [GroupID], [buyLastDate], [countOrder], [amountSpent]) VALUES (15, N'khachhang', N'123123', N'nguyen van a', N'điện biên phủ', N'khachhang@gmail.com', N'121312', 0, NULL, N'User', 2, N'MEMBER', NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_GioHang_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Review] ADD  CONSTRAINT [DF_Review_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Review] ADD  CONSTRAINT [DF_Review_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_DangNhap_GroupID]  DEFAULT ('MEMBER') FOR [GroupID]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_DangNhap_countOrder]  DEFAULT ((0)) FOR [countOrder]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_DangNhap_amountSpent]  DEFAULT ((0)) FOR [amountSpent]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHang_GioHang] FOREIGN KEY([Order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_ChiTietGioHang_GioHang]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail_Product] FOREIGN KEY([Product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_Order_Detail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_product_category] FOREIGN KEY([categoryid])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_product_category]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_DangNhap] FOREIGN KEY([User_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_DangNhap]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_product] FOREIGN KEY([Product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_product]
GO
USE [master]
GO
